
html, body {
	margin:0;
	padding:0;
	height: 100%;
	user-select: none;

	--greyWindowBGColor:#e2e2e2;

}

#pagecontainer{

	width:100%;
	height:100%;
	/*background-color: #131c27;*/
	background-color: #1a2733;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow:hidden;
}

#bonkioheader{
	width: 100%;
    height: 32px;
    background-color: #100a0e;
    z-index: 999;
    color:#ffffff;
    font-family: futurept_medium;
    line-height: 34px;
    text-align: center;
    font-size: 17px;
    position: absolute;


}

#bonkiocontainer{

	height: 100%;
    width: calc(100% - 360px);
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid #0e0e0e8f;
    overflow:hidden;
    opacity:0;
    background-color: #1a2733;
 
}


#newbonkgamecontainer{
	/*width: calc(100% - 600px);*/
	width: 100%;
	display:inline-block;
	height:100%;
	position: relative;
}


#adleftcolumn{
	height: 100%; 
	width:300px; 
	/*background-color:#ff0000; */
	float:left; 
	display:inline;
}

#adrightcolumn{
	height: 100%; 
	width:300px; 
	/*background-color:#ff0000; */
	float:right; 
	display:inline;
}

.gamecanvas{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#newbonkbackbutton{
	width: 40px;
    height: 40px;
    border-radius: 25px;
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 200;
    cursor: pointer;
	background-image: url("../graphics/arrow-left.png");
	background-repeat: no-repeat;
	background-position: center;

	display:none;
}

#newbonkmutebutton{
	width: 28px;
    height: 28px;
    border-radius: 25px;
    position: absolute;
    right: 15px;
    top: 58px;
    z-index: 200;
    cursor: pointer;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;

	display:none;
}

.newbonkmutebutton_on{
	background-image: url("../graphics/volumeon.png");
}
.newbonkmutebutton_off{
	background-image: url("../graphics/volumeoff.png");
}

#newbonkmusicbutton{
	width: 28px;
    height: 28px;
    border-radius: 25px;
    position: absolute;
    right: 15px;
    top: 96px;
    z-index: 200;
    cursor: pointer;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;

	display:none;
}

.newbonkmusicbutton_on{
	background-image: url("../graphics/musicon.png");
}
.newbonkmusicbutton_off{
	background-image: url("../graphics/musicoff.png");
}
	
.redButton{
	color: #e0e0e0;
    font-family: futurept_b1;
    background-color: hsl(351 50% 31% / 1);
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #ffffff1f;
    border-bottom: 1px solid #00000073;
}

.brownButton{
	
	color: #ffffff;
	font-family:futurept_b1;
	text-align: center;
	cursor:pointer;

	/*background-color: #795548;*/

	/*red*/
	background-color: hsl(351 50% 31% / 1);
	background-color: hsl(351 34% 27% / 1);
	border-top: 1px solid #ffffff1f;
    border-bottom: 1px solid #00000073;

    border-radius: 2px;

}
.brownButton:hover{
	background-color: #813641;
}
.brownButton:active, .brownButton:hover:active{
	background-color: #4b252b;
}
.brownButton:focus{
	outline-color: #806257;
}
.brownButtonDisabled{
	pointer-events: none !important;
	cursor: default !important;
	background-color: #777777 !important;
	border-bottom: 1px solid #0000002e !important;
}
.windowShadow{
	-webkit-box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.63);
    box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.63);
}

.fieldShadow{
	-webkit-box-shadow: 1px 1px 4px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 4px -2px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px -2px rgba(0,0,0,0.4);
}

.buttonShadow{
	-webkit-box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.63);
  	-moz-box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.63);
  	box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.63);
}

#leaveconfirmwindowcontainer{
	width:100%;
	height:100%;
	position: absolute;
	visibility: hidden;
}

#leaveconfirmwindow{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:310px;
	height:167px;
	background-color: #cfd8dc;
	margin:auto;
	font-family: "futurept_b1";
	border-radius: 7px;

}

	#leaveconfirmwindow_top{

		background-color: #607d8b;
		width:100%;
		height:30px;
		line-height: 30px;
		color:#ffffff;
		font-family: "futurept_b1";
		text-align: center;
    	font-size: 20px;
    	border-top-left-radius: 3px;
   		border-top-right-radius: 3px;

	}

	#leaveconfirmwindow_text1{
		color:#000000;
		text-align: center;
		position: absolute;
		left:0;
		right:0;
		top:53px;
		margin:auto;

	}

	#leaveconfirmwindow_text2{
		color:#222222;
		text-align: center;
		position: absolute;
		left:0;
		right:0;
		top:83px;
		margin:auto;
	}

	#leaveconfirmwindow_cancelbutton{
		cursor: pointer;
		position: absolute;
		width:105px;
		height:30px;
		left:30px;
		bottom:15px;
		text-align: center;
		line-height: 30px;
	}

	#leaveconfirmwindow_okbutton{
		cursor: pointer;
		position: absolute;
		width:105px;
		height:30px;
		right:30px;
		bottom:15px;
		text-align: center;
		line-height: 30px;
	}



#hostleaveconfirmwindowcontainer{
	width:100%;
	height:100%;
	position: absolute;
	visibility: hidden;
}

#hostleaveconfirmwindow{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:390px;
	height:167px;
	background-color: #cfd8dc;
	margin:auto;
	font-family: "futurept_b1";
	border-radius: 7px;

}

	#hostleaveconfirmwindow_top{

		background-color: #607d8b;
		width:100%;
		height:30px;
		line-height: 30px;
		color:#ffffff;
		font-family: "futurept_b1";
		text-align: center;
    	font-size: 20px;
    	border-top-left-radius: 3px;
   		border-top-right-radius: 3px;

	}

	#hostleaveconfirmwindow_text1{
		color:#000000;
		text-align: center;
		position: absolute;
		left:0;
		right:0;
		top:53px;
		margin:auto;

	}

	#hostleaveconfirmwindow_text2{
		color:#222222;
		text-align: center;
		position: absolute;
		left:0;
		right:0;
		top:83px;
		margin:auto;
	}

	#hostleaveconfirmwindow_cancelbutton{
		cursor: pointer;
		position: absolute;
		width:105px;
		height:30px;
		left:20px;
		bottom:15px;
		text-align: center;
		line-height: 30px;
	}

	#hostleaveconfirmwindow_okbutton{
		cursor: pointer;
		position: absolute;
		width:105px;
		height:30px;
		left: 0;
		right:0;
		margin:auto;
		bottom:15px;
		text-align: center;
		line-height: 30px;
	}

	#hostleaveconfirmwindow_endbutton{
		cursor: pointer;
		position: absolute;
		width:105px;
		height:30px;
		right:20px;
		bottom:15px;
		text-align: center;
		line-height: 30px;
	}





.dropdown-container{
	width:192px;
	font-family: futurept_b1;

    color: #4e4e4e;

}

.dropdown-title{
	width:100%;
	font-size:13px;
	padding: 3px;
    box-sizing: border-box;
    padding-left: 6px;
    cursor: pointer;

    background-color: hsl(351 34% 27% / 1);
	border-top: 1px solid #ffffff1f;
    border-bottom: 1px solid #00000073;
}

.dropdown-option{
	width:100%;
	display:none;
	font-size:13px;

	padding: 3px;
    box-sizing: border-box;
    border-top: 1px solid #866559;
    
    padding-left: 9px;
    cursor: pointer;

    background-color: hsl(351 34% 27% / 1);
	border-top: 1px solid #ffffff1f;
    border-bottom: 1px solid #00000073;

}

	.dropdown-option-lighter{
		background-color: #795548 !important;
	}
.dropdown-option:hover{
	background-color: #813641;
}
	.dropdown-option-lighter:hover{
	background-color:#ffffff !important;
}
.dropdown-arrow{
	position: absolute;
	right:5px;
	top:5px;
	pointer-events: none;
}

.dropdown-option-disabled{

	pointer-events: none !important;
	cursor: default !important;
	background-color: #777777 !important;
    border-top: 1px solid #6b6b6b !important;

}

#replayControlsHover{
	position: absolute;
	width:300px;
	height:100px;
	right:0;
	bottom:0;
	background-color: #ff0000;
	z-index: 199;
}

#replayTextContainer{
	position: absolute;
    bottom: 45px;
    right: 0px;
    flex-wrap: wrap-reverse;
    z-index: 200;
    text-align: right;
    background-color: rgba(0,0,0,0.3);
    padding:4px;
    display:none !important;
}

#replayText1b{
	color:#cccccc;
}
#replayText3b{
	color:#cccccc;
}
#replayText2{
	color: #cccccc;
}
#replayText3{

	
}
.replayText{
	font-family: futurept_b1;
    font-size: 16px;
    color: #ffffff;
    z-index: 200;
    pointer-events: none;
    display: inline;
    text-align: right;
    display:none;
}

#replayNextButton{

	width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    right: 10px;
    bottom: 8px;
    z-index: 200;
    cursor: pointer;
	background-image: url("../graphics/chevron-right.png");
	background-repeat: no-repeat;
	background-position: center;

	 display:none;

}

#replayPrevButton{

	width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    right: 45px;
    bottom: 8px;
    z-index: 200;
    cursor: pointer;
	background-image: url("../graphics/chevron-left.png");
	background-repeat: no-repeat;
	background-position: center;

	 display:none;

}

#bgreplay_timescrub{
	position: absolute;
	bottom:20px;
	right:90px;
	width:200px;
	z-index: 999;
	visibility: hidden;

}


#xpbarcontainer{
	width:100%;
	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
}

#xpbarblocker{
	position: absolute;
	width:150px;
	height:50px;
	background-color: #131c27;
	left: 0;
    right: 0;
    margin: auto;
    bottom: 0;

}

#xpbar{
	border: 2px solid #000000;
    width: 970px;
    height: 5px;
    position: absolute;
    left: 0;
    right:0;
    margin:auto;
    border-radius: 3px;
    background-color: #2c2c2d;
    pointer-events: none;

}

#xpbarsegmentcontainer{
	position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.xpbarsegment{
	height: 100%;
    width: 2px;
    background-color: #000000;
}

#xpbarfill{
	background-color: #473aaf;
    position: absolute;
    left: 0;
    width: 4%;
    height: 100%;
}

#xpbartext{
	color:#fff;
	font-family: futurept_medium;
	text-align: center;
	font-size: 13px;
	position: absolute;
	left:0;
	right:0;
	opacity: 0;
	z-index: 9999;
}

#ingamecountdown{
	background-color:#cfd8dc;
	width:170px;
	height:110px;
	position: absolute;
	left:0;
	right:0;
	margin:auto;
	top:0;
	box-shadow: 2px 2px 4px #00000054;
	visibility: hidden;
}
#ingamecountdown_top{
	background-color: #607d8b;
    color: white;
    width: 100%;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 35px;
    font-family: 'futurept_b1';
    font-size: 20px;
}
#ingamecountdown_text{
	color: #2d2f30;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: -22px;
    bottom: 0;
    width: 100%;
    height: 1%;
    font-size: 45px;
    font-family: 'futurept_b1';
}

#ingamemapcredit{
	height: 160px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: futurept_medium;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 0px #171717bd;
    color: #ececec;
    background-color: rgba(0,0,0,0.35);
    visibility: hidden;
    opacity:0;
    pointer-events: none;
}
#ingamemapcredit_name{
	position: absolute;

    top: -90px;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 50px;
}
#ingamemapcredit_by{
	font-size: 37px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
#ingamemapcredit_author{
	position: absolute;

    top: 90px;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 50px;
}

#ingametextwarnings{
	position: absolute;
	width: 35%;
	height:20%;
	left:20px;
	top:100px;
	overflow:hidden;
	pointer-events: none;
}
.ingametextwarnings_warning{
	height:50px;
	font-family: futurept_b1;
	background-color: rgba(0,0,0,0.2);
	display: table;
	color:white; 
	margin-bottom: 5px;
}

.ingametextwarnings_warning p{
	display: table-cell; 
	vertical-align: middle; 
	padding: 10px;
}

#ingametextwarning_spectating{
	display:none;
}
#ingametextwarning_afk{
	display:none;
}
#ingametextwarning_matchedsoon{
	display:none;
}

#classic_mid{
	display: none;
}

#cpms_l{

	margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	z-index: 9999;
}

#cpms_r{

	margin: 0;
  position: absolute;
  right:0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	z-index: 9999;
}

#behindblocker{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	outline: 3000px solid rgba(0,0,0,0.30);
	width: 1px;
    height: 1px;
}


#descriptioncontainer{

	font-family: Tahoma, Geneva, sans-serif;
	width: 890px;
    margin: 0 auto;
    padding: 50px 20px;
    background-image: url(../graphics/tt/cork2.jpg);
    -webkit-box-shadow: inset 0px 0px 10px #333, 0px 0px 4px #444;
    -moz-box-shadow: inset 0px 0px 10px #333, 0px 0px 4px #444;
    box-shadow: inset 0px 0px 10px #333, 0px 0px 4px #444;
    border: #2e1a12 solid 15px;
    -webkit-border-image: url(../graphics/tt/woodcutsmall.png) 30 stretch;
    -moz-border-image: url(../graphics/tt/woodcutsmall.png) 30 stretch;
    border-image: url(../graphics/tt/woodcutsmall.png) 30 stretch;
    border-collapse: collapse;

}

#descriptioninner{

	width: 850px;
    background-image: url(../graphics/tt/whitealpha3.png);
    padding: 20px;
    -webkit-box-shadow: -1px -1px 0 rgb(0 0 0 / 10%), -3px -3px 0 rgb(255 255 255), -4px -4px 0 rgb(0 0 0 / 13%), -6px -6px 0 rgb(255 255 255), -7px -7px 0 rgb(0 0 0 / 15%), -9px -9px 0 rgb(255 255 255), -10px -10px 0 rgb(0 0 0 / 18%), 4px 4px 5px #555;
    -moz-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.100), -3px -3px 0 rgba(255, 255, 255, 1.0), -4px -4px 0 rgba(0, 0, 0, 0.125), -6px -6px 0 rgba(255, 255, 255, 1.0), -7px -7px 0 rgba(0, 0, 0, 0.150), -9px -9px 0 rgba(255, 255, 255, 1.0), -10px -10px 0 rgba(0, 0, 0, 0.175), 4px 4px 5px #555;
    box-shadow: -1px -1px 0 rgb(0 0 0 / 10%), -3px -3px 0 rgb(255 255 255), -4px -4px 0 rgb(0 0 0 / 13%), -6px -6px 0 rgb(255 255 255), -7px -7px 0 rgb(0 0 0 / 15%), -9px -9px 0 rgb(255 255 255), -10px -10px 0 rgb(0 0 0 / 18%), 4px 4px 5px #555;
    margin-left: auto;
    margin-right: auto;
    user-select: text;

}

.descriptionpara{
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 13px;
}

.descriptiontitle{
	font-weight: bold;
	font-size:28px;
	margin-top: 0px;
}

.descriptionsubtitle{
	font-weight: bold;
	font-size:22px;
	margin-top: 0px;
}

.descriptionthumbl{
	border: 5px solid #e4e4e0;
	margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

.descriptionthumbr{
	border: 5px solid #e4e4e0;
	margin-left: 15px;
    margin-bottom: 15px;
    float: right;
}

body{
	background-color: #1a2733;
}

#bonkiobugemail{
	position: absolute;
    right: 10px;
    top: 0;
    margin: auto;
    color: rgb(255 255 255 / 25%);
    font-family: futurept_b1;
}

#adboxverticalCurse {

	width:160px;		/*put width of ad in here/*was 160 */
	height:600px;
	position:absolute;
	right:0;
	top: 0;
    bottom: 0;
    margin: auto;
    border: none;
    overflow: hidden;

}

#adboxverticalleftCurse {

	width:160px;	
	height:600px;
	position:absolute;
	left:0;
	top: 0;
    bottom: 0;
    margin: auto;
    border: none;
    overflow: hidden;

}

#bonk_d_1{
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#bonk_d_2{
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
}

#maingameframe{
	width:100%;
	height:100%;
	border:none;
}